# This is Git's per-user configuration file.
[user]
	name = Zach Banducci
	email = zbducci@gmail.com
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
[core]
  editor = nvim
  pager = delta --plus-color="#012800" --minus-color="#340001"
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
